/*

cyan: #16d0a5
dark cyan: #095141
near black: #313131
gray: #2f2f2f
light gray: #c1c1c1
dark gray: #212121
near white: #eaeaea

*/

body {
    font-size: 20px;
    background-color: #212121;
    color: #eaeaea;
}
.container {
    text-align: center;
}

.container h1 {
    margin-top: 1em;
    font-size: 150%;
}

/*-----------------------------------------------------*/
/* WeatherSearch */

.weather-search {
    padding: 1em 0;
}
input {
    background-color: #2f2f2f;
}
.search-input {
    display:inline-flex;
    height: 100%;
    width: 67%;
    color: #eaeaea;
}

.text-input::placeholder {
    transition: all .2s;
}
.text-input:focus::placeholder {
    color: #c1c1c1;
}

.text-input {
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    padding: .4em 1em;
    transition: all .2s;
    width: 100%;
    color: #c1c1c1;
}

.text-input:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #16d0a5;
    color: #eaeaea;
}

.search-button-container {
    display: inline-flex;
    width: 33%;
}

.search-button {
    background-color: #16d0a5;
    border: 1px solid #16d0a5;
    border-radius: 5px;
    color: white;
    padding: .3em .6em;
    width: 100%;
    transition: all .2s;
}

.search-button:hover {
    background-color: #095141;
}

.location-button-container {
    display: flex;
    justify-content: center;
    margin: 1em auto 0 auto;
    width: 100px;
    height: 100px;
    font-size: 80%;
    line-height: 120%;
}

.location-button {
    background-color: #2f2f2f;
    border: 1px solid #16d0a5;
    border-radius: 50%;
    color: white;
    padding: .3em .6em;
    width: 100%;
    transition: all .2s;
}

.location-button:hover {
    background-color: #095141;
}

.location-button:focus {
    outline: none;
}

/*-----------------------------------------------------*/
/* Weather info */

.info-box {
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    padding: 1em;
    background-color: #2f2f2f;
}

.loader-container {
    display: inline-flex;
    justify-content: center;
}

.loader {
    display: inline-flex;
    border: 8px solid #c1c1c1;
    border-top: 8px solid #16d0a5;
    border-radius: 50%;
    width: 3.6em;
    height: 3.6em;
    animation: spin .9s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
