/*

cyan: #16d0a5
dark cyan: #24b593
near black: #313131
gray: #636262
light gray: #c1c1c1

*/

body {
    font-size: 20px;
}
.container {
    text-align: center;
}

.container h1 {
    margin-top: 1em;
    font-size: 150%;
}

/*-----------------------------------------------------*/
/* WeatherSearch */

.weather-search {
    padding: 1em 0;
}

.search-input {
    display:inline-flex;
    height: 100%;
    width: 67%;
}

.text-input::placeholder {
    color: #c1c1c1;
    transition: all .2s;
}
.text-input:focus::placeholder {
    color: #636262;
}

.text-input {
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    padding: .4em 1em;
    color: #636262;
    transition: all .2s;
    width: 100%;
}

.text-input:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #16d0a5;
    color: #313131;
}

.search-button-container {
    display: inline-flex;
    height: 100%;
    width: 33%;
}

.search-button {
    background-color: #16d0a5;
    border: 1px solid #16d0a5;
    border-radius: 5px;
    color: white;
    padding: .3em 1em;
    width: 100%;
    transition: all .2s;
}

.search-button:hover {
    background-color: #24b593;
}

/*-----------------------------------------------------*/
